<div class="contenedor">
    <h1>Formulario de contacto</h1>
    <form action="#" method="post">
      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" />
      </div>
      <div>
        <label for="correo">Categoría:</label>
        <input type="email" id="correo" [(ngModel)]="correo" name="correo" />
      </div>
      <div>
        <label for="mensaje">Precio:</label>
        <textarea id="mensaje" [(ngModel)]="mensaje" name="mensaje"></textarea>
      </div>
      <div>
  
      
        <!--<button (click)="guardar2()">Enviar mensaje</button>-->
      </div>
    </form>
  </div>