<head>
    <title>menu</title>
    <link rel="stylesheet" href="menu.component.scss">
  </head>
  <body>
    <div class="contenedor">
      <div class="sidebar">
        <nav>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">CATEGORIA</a></li>
              <ul>
                <li><a routerLink="paginas/utilesescolares">UTILES ESCOLARES</a></li>
                <li><a routerLink="paginas/manualidades">MANUALIDADES</a></li>
                <li><a routerLink="paginas/oficina">OFICINA</a></li>
                <li><a routerLink="paginas/tecnologia">TECNOLOGIA</a></li>
              </ul>
            <li><a routerLink="paginas/nuevo-formulario">Formulario de Contacto</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </body>