<div class="contenedor">
    <h1>CONTACTO</h1>
    <form action="#" method="post">
        <div>
            <label for="nombre">Cedula:</label>
            <input type="text" id="cedula" [(ngModel)]="cedula" name="cedula" />
          </div>
      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" />
      </div>
      <div>
        <label for="correo">Direccion:</label>
        <input type="text" id="direccion" [(ngModel)]="direccion" name="direccion" />
      </div>
      <div>
  
      
        <button (click)="guardar2()">GUARDAR CONTACTO</button>
      </div>
    </form>
  </div>