<div class="contenedor">
  <h1>Formulario de contacto</h1>
  <form action="#" method="post">
    <div>
<!--
      <mat-form-field class="example-full-width">
        <mat-label>Nombre:</mat-label>
        <input matInput placeholder="Ej. Juan Pérez" id="nombre" [(ngModel)]="nombre" name="nombre">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Correo:</mat-label>
        <input matInput placeholder="Ej. Av. España" id="correo" [(ngModel)]="correo" name="correo">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Mensaje:</mat-label>
        <input matInput placeholder="Ej. Este es un mensaje de prueba" id="mensaje" [(ngModel)]="mensaje" name="mensaje">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
-->
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" />
    </div>
    <div>
      <label for="correo">Correo electrónico:</label>
      <input type="email" id="correo" [(ngModel)]="correo" name="correo" />
    </div>
    <div>
      <label for="mensaje">Mensaje:</label>
      <textarea id="mensaje" [(ngModel)]="mensaje" name="mensaje"></textarea>
    </div>
    <div>

    
      <button (click)="guardar2()">Enviar mensaje</button>
    </div>
  </form>
</div>